:root {
  --gray-color: #606060;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a,
a:hover {
  text-decoration: none;
}

a {
  color: var(--gray-color);
}

img {
  width: 100%;
  height: 100%;
}

button svg {
  color: var(--gray-color);
  outline: none;
}

.link-btn {
  background: var(--gray-color);
  width: fit-content;
  color: var(--white);
}

.logo {
  text-transform: uppercase;
}

.nav .nav-item:not(:first-child):after {
  position: absolute;
  content: "|";
  top: 8px;
}
.nav .nav-item.cart:after {
  content: "";
}

.nav-item.cart {
  background: var(--gray-color);
}
.nav-item.cart .nav-link {
  color: var(--white);
}
